extends layout

block content
  h1 Found #{postCount} posts

  each post in posts
    .post
      h2
        a( href=post.link ) #{post.title}

      p <em>#{post.sub_reddit}</em> #{formatDateTime(post.date_posted)}
      p #{post.has_read ? "Has read" : "Has not read"}
